label {
  font-size: 14px;
  line-height: 18px;
  color: #9394aa;
}

label:after {
  content: '*';
  color: red;
}

select {
  height: 44px;
}

.first-block {
  padding: 12px 0;
  font-size: 28px;
  line-height: 24px;
}
